<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<link type="text/css" rel="stylesheet" href="./Public/Admin/Css/public.css" />
<link type="text/css" rel="stylesheet" href="./Public/Admin/Css/index.css" />
<script type="text/javascript" src="./Public/Admin/Js/jquery.js"></script>
<script type="text/javascript" src="./Public/Admin/Js/menu.js"></script>
<title>管理左边页</title>
<base target="main" />
</head>
<body>
<div class="left">
	<div><img src="./Public/Admin/Images/menu_topimg.gif" /></div>
	<div class="title"><b>网站管理菜单</b></div>
	<div><img src="./Public/Admin/Images/menu_topline.gif" /></div>
	<div class="content">
		<ul class="menu collapsible">
			<li><a href="?c=Category&a=add">分类管理</a>
				<ul class="acitem">
					<li><a href='?c=Category&a=index'>管理文章分类</a></li>
				</ul>
			</li>
			<li><a href="#">文章管理</a>
				<ul class="acitem">
					<li><a href='?c=Article&a=add'>添加文章</a></li>
					<li><a href='?c=Article&a=index'>管理文章</a></li>
				</ul>
			</li>
			<li><a href="#">文章评论</a>
				<ul class="acitem">
					<li><a href='?c=Comment&a=index'>管理文章评论</a></li>
				</ul>
			</li>
			<li><a href="#">专家工作室</a>
				<ul class="acitem">
					<li><a href='__APP__/Super'>专家工作室管理</a></li>
				</ul>
			</li>
			<!--用户管理-->
			<li><a href="#">用户管理</a>
				<ul class="acitem">
					<li><a href='__APP__/Admin/editpwd'>密码设置</a></li>
					<li><a href='?c=User&a=add'>添加用户</a></li>
					<li><a href='?c=User&a=index'>用户管理</a></li>
					<li><a href='admin.php?c=Links&a=index'>管理链接</a></li>
				</ul>
			<!--友情链接-->
			<li><a href="#">友情链接</a>
				<ul class="acitem">
					<li><a href='admin.php?c=Links&a=index'>管理链接</a></li>
					<li><a href='admin.php?c=Links&a=add'>添加链接</a></li>
				</ul>
			<!--系统设置-->
			<li><a href="#">系统设置</a>
				<ul class="acitem">
					<li><a href='__APP__/Site'>站点设置</a></li>
					<li><a href='__APP__/AdminRole'>角色管理</a></li>
					<li><a href='__APP__/Ad'>广告管理</a></li>
					<li><a href='__APP__/ClassBook'>资料类别</a></li>
					<li><a href='__APP__/ClassHotarea'>热区类别</a></li>
					<li><a href='__APP__/ClassGuidance'>辅导方式类别</a></li>
					<li><a href='__APP__/ClassTeacherType'>教师类别</a></li>
					<li><a href='__APP__/ClassGrade'>年级类别</a></li>
					<li><a href='__APP__/ClassSubject'>科目类别</a></li>
					<li><a href='__APP__/ClassWeek'>星期类别</a></li>
					<li><a href='__APP__/ClassHour'>时段类别</a></li>
					<li><a href='__APP__/ClassPosition'>求职职位</a></li>
				</ul>
			</li>
		</ul>

	</div>
	<div><img src="./Public/Admin/Images/menu_bottomimg.gif" /></div>
</div>
</body>
</html>